/* @override http://ext.pagayo.com/1-extensions-1/skin/frontend/default/pagayo-theme-001/css/styles.css */

/*
################################
--------------------------------
Theme by Pagayo
Pagayo Themes and Extensions
www.pagayo.com
--------------------------------
################################
*/


/* RESET
========================================== */

* { 
	margin: 0; 
	padding: 0; 
}

body { 
	background: #fff; 
	font: 12px/1.35 Arial, Helvetica, sans-serif; 
	color: #5f5289; 
	text-align: left; 
}

img { 
	border: 0; 
	vertical-align: top; 
}

a {
	color: #004f9a;
	text-decoration: none;
}

a:hover {
	color: #004f9a;
	text-decoration: underline;
}

:focus { 
	outline: 0; 
}

/* Headings
------------------------------------- */

h1 { 
	font-size: 19px; 
	font-weight: normal; 
	line-height: 1.15; 
	margin-bottom: 4px; 
}

h2 { 
	font-size: 17px; 
	font-weight: normal; 
	line-height: 1.25; 
	margin-bottom: 4px; 
}

h3 { 
	font-size: 15px; 
	font-weight: bold; 
	line-height: 1.25; 
	margin-bottom: 4px; 
}

h4 { 
	font-size: 13px; 
	font-weight: bold; 
	margin-bottom: 4px; 
}

h5 { 
	font-size: 12px; 
	font-weight: bold; 
	margin-bottom: 4px; 
}

h6 { 
	font-size: 11px; 
	font-weight: bold; 
	margin-bottom: 4px; 
}

/* Forms 
------------------------------------- */

form { 
	display: inline; 
}

fieldset { 
	border: 0; 
}

legend { 
	display: none; 
}

/* Table 
------------------------------------- */

table { 
	border: 0; 
	border-collapse: collapse; 
	border-spacing: 0; 
	empty-cells: show; 
	font-size: 100%; 
}

caption,th,td { 
	vertical-align: top; 
	text-align: left; 
	font-weight: normal; 
}

/* Content 
------------------------------------- */

strong { 
	font-weight: bold; 
}

address { 
	font-style: normal; 
}

cite { 
	font-style: normal; 
}

q,
blockquote { 
	quotes: none; 
}

q:before,
q:after { 
	content: ''; 
}

small,big { 
	font-size: 1em; 
}

sup { 
	font-size: 1em; 
	vertical-align: top; 
}

/* Lists 
------------------------------------- */

ul,ol { 
	list-style: none; 
}

/* Tools 
------------------------------------- */

.hidden { 
	display: block !important; 
	border: 0 !important; 
	margin: 0 !important; 
	padding: 0 !important; 
	font-size: 0 !important; 
	line-height: 0 !important; 
	width: 0 !important; 
	height: 0 !important; 
	overflow: hidden !important; 
}

.nobr { 
	white-space: nowrap !important; 
}

.wrap { 
	white-space: normal !important; 
}

.a-left { 
	text-align: left !important; 
}

.a-center { 
	text-align: center !important; 
}

.a-right { 
	text-align: right !important; 
}

.v-top { 
	vertical-align: top; 
}

.v-middle { 
	vertical-align: middle; 
}

.f-left,
.left { 
	float: left !important; 
}

.f-right,
.right { 
	float: right !important; 
}

.f-none { 
	float: none !important; 
}

.f-fix { 
	float: left; 
}

.no-display { 
	display: none; 
}

.no-margin { 
	margin: 0 !important; 
}

.no-padding { 
	padding: 0 !important; 
}

.no-bg { 
	background: none !important; 
}

/* LAYOUT
========================================== */

.wrapper { 
	 
}

.page {
	min-width: 1234px;
	text-align: left;
	background-color: #fff;
	margin: 0 auto; 
}

.page-print { 
	background: #fff; 
	padding: 20px; 
	text-align: left; 
}

.page-empty { 
	background: #fff; 
	padding: 20px; 
	text-align: left; 
}

.page-popup { 
	padding: 20px; 
	text-align: left; 
}

.main-supercontainer { 
	background-color: #fff; 
}

.main-container { 
	padding-bottom: 20px; 
	padding-top: 14px; 
/*	background: url(../images/shadow-main.png) repeat-x center top; */
}

.main { 
	width: 1200px; 
	min-height: 260px;
	margin: 0 auto;  
	/*border: 1px solid #ccc; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; */
	padding: 16px; 
	background-color: #fff; 
}

/* Base Columns
------------------------------------- */

.col-left { 
	float: left; 
	width: 220px; 
}

.col-main { 
	float: left; 
	width: 960px; 
}

.col-right { 
	float: right; 
	width: 220px; 
}

/* 1 Column Layout
------------------------------------- */

.col1-layout .col-main { 
	float: none; 
	width: auto; 
}

/* 2 Columns Layout
------------------------------------- */

.col2-left-layout .col-main { 
	float: right; 
}

.col2-right-layout .col-main { 
	 
}

/* 3 Columns Layout
------------------------------------- */

.col3-layout .col-main {
	width: 720px;
}

.col3-layout .col-wrapper {
	float: left;
	width: 960px;
}

.col3-layout .col-wrapper .col-main {
	float: right;
}

/* Content Columns
------------------------------------- */

.col2-set .col-1 { 
	float: left; 
	width: 49%; 
}

.col2-set .col-2 { 
	float: right; 
	width: 49%; 
}

.col2-set .col-narrow { 
	width: 33%; 
}

.col2-set .col-wide { 
	width: 65%; 
}

.col3-set .col-1 { 
	float: left; 
	width: 32%; 
}

.col3-set .col-2 { 
	float: left; 
	width: 32%; 
	margin-left: 2%; 
}

.col3-set .col-3 { 
	float: right; 
	width: 32%; 
}

.col4-set .col-1 { 
	float: left; 
	width: 23.5%; 
}

.col4-set .col-2 { 
	float: left; 
	width: 23.5%; 
	margin: 0 2%; 
}

.col4-set .col-3 { 
	float: left; 
	width: 23.5%; 
}

.col4-set .col-4 { 
	float: right; 
	width: 23.5%; 
}

/* COMPARE PAGE POPUP
========================================== */

.page-popup.catalog-product-compare-index { 

}

.page-popup.catalog-product-compare-index .price-box{ 
	margin-top: 8px; 
	margin-bottom: 8px; 
}

.page-popup.catalog-product-compare-index .add-to-links{ 
	margin-top: 8px; 
}

/* BUTTONS
========================================== */

button.button {
	-webkit-border-fit: lines;
	overflow: visible;
	cursor: pointer;
	height: 32px !important;
	width: auto;
	margin: 0;
	padding: 0 6px; 
	background-color: #5f5289;
/*	border: 1px solid #222;*/
/*	font: bold 12px/24px Arial, Helvetica, sans-serif;*/
        font-family: Fjalla One;
	text-align: center;
	color: #fff;
	white-space: nowrap; 
        border:0;
/*	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; */
}

button.button:hover {
	background-color: #88dae4;
}

button.button span {
	white-space: nowrap;
	text-align: center;
}

button.button::-moz-focus-inner { 
	padding: 0; 
	border: 0; 
}

button.disabled { 
	 
}

button.disabled span { 
	 
}

button.btn-checkout span { 
	 
}

button.btn-checkout.no-checkout { 
	 
}

p.control input.checkbox,
p.control input.radio { 
	margin-right: 6px; 
}

/* Buttons Set
------------------------------------- */

.buttons-set { 
	clear: both; 
	margin: 5px 0 0; 
}

.buttons-set .back-link { 
	float: left; 
}

.buttons-set button.button { 
	float: right; 
	margin-left: 6px; 
        border:0;
        background: #5f5289;
        color:#fff;
}

.buttons-set button.button:hover{
        background: #88dae4;
}

.buttons-set p.required { 
	margin: 0 0 5px; 
}

.buttons-set-order { 
	 
}

/* FORM ELEMENTS
========================================== */

input,select,textarea,button { 
	font-size: 12px; 
	vertical-align: middle; 
	color: #000; 
}

input.input-text,select,textarea { 
	background: #fff; 
	border: 1px solid #ccc; 
}

input.input-text,textarea { 
	padding: 4px; 
}

select { 
	padding: 1px; 
}

select option { 
	padding-right: 10px; 
}

select.multiselect option { 
	border-bottom: 1px solid #ddd; 
	padding: 2px 5px; 
}

select.multiselect option:last-child { 
	border-bottom: 0; 
}

textarea { 
	overflow: auto; 
}

input.radio { 
	margin-right: 3px; 
}

input.checkbox { 
	margin-right: 3px; 
}

input.qty { 
	width: 2.5em !important; 
	text-align: center; 
}

/*input.input-text:focus,
select:focus,
textarea:focus {
}*/

/*.highlight { 
	background:#efefef; 
}*/

/* Form lists
------------------------------------- */

/*.form-list { 
	width:535px; 
	margin:0 auto; 
	overflow:hidden; 
}*/

.form-list li { 
	margin: 0 0 8px; 
}

.form-list label { 
	float: left; 
	color: #111; 
	font-weight: bold; 
	position: relative; 
	z-index: 0; 
}

.form-list label.required { 
	 
}

.form-list label.required em { 
	float: right; 
	font-style: normal; 
	color: #eb340a; 
	position: absolute; 
	top: 0; 
	right: -8px; 
}

.form-list li.control label { 
	float: none; 
}

.form-list li.control input.radio,
.form-list li.control input.checkbox { 
	margin-right: 6px; 
}

.form-list li.control .input-box { 
	clear: none; 
	display: inline; 
	width: auto; 
}

/*.form-list li.fields { 
	margin-right:-15px; 
}*/

.form-list .input-box { 
	display: block; 
	clear: both; 
	width: 260px; 
}

.form-list .field { 
	float: left; 
	width: 275px; 
}

.form-list input.input-text { 
	width: 254px; 
}

.form-list textarea { 
	width: 254px; 
	height: 10em; 
}

.form-list select { 
	width: 260px; 
}

.form-list li.wide .input-box { 
	width: 535px; 
}

.form-list li.wide input.input-text { 
	width: 529px; 
}

.form-list li.wide textarea { 
	width: 529px; 
}

.form-list li.wide select { 
	width: 535px; 
}

.form-list li.additional-row { 
	border-top: 1px solid #ccc; 
	margin-top: 10px; 
	padding-top: 7px; 
}

.form-list li.additional-row .btn-remove { 
	float: right; 
	margin: 5px 0 0; 
}

.form-list .input-range input.input-text { 
	width: 74px; 
}

/* Form lists Customer
------------------------------------- */

.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { 
	width: auto; 
}

.form-list .name-prefix { 
	width: 65px; 
}

.form-list .name-prefix select { 
	width: 55px; 
}

.form-list .name-prefix input.input-text { 
	width: 49px; 
}

.form-list .name-suffix { 
	width: 65px; 
}

.form-list .name-suffix select { 
	width: 55px; 
}

.form-list .name-suffix input.input-text { 
	width: 49px; 
}

.form-list .name-middlename { 
	width: 70px; 
}

.form-list .name-middlename input.input-text { 
	width: 49px; 
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { 
	width: 140px; 
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { 
	width: 124px; 
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname { 
	width: 205px; 
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { 
	width: 189px; 
}

.form-list .customer-name-prefix-suffix .name-firstname { 
	width: 210px; 
}

.form-list .customer-name-prefix-suffix .name-lastname { 
	width: 205px; 
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { 
	width: 189px; 
}

.form-list .customer-name-prefix-suffix .name-firstname { 
	width: 210px; 
}

.form-list .customer-name-prefix-suffix .name-lastname { 
	width: 205px; 
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { 
	width: 189px; 
}

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname { 
	width: 210px; 
}

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { 
	width: 205px; 
}

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { 
	width: 189px; 
}

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { 
	float: left; 
	width: 85px; 
}

.form-list .customer-dob input.input-text { 
	display: block; 
	width: 74px; 
}

.form-list .customer-dob label { 
	font-size: 10px; 
	font-weight: normal; 
	color: #888; 
}

.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { 
	width: 60px; 
}

.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { 
	width: 46px; 
}

.form-list .customer-dob .dob-year { 
	width: 140px; 
}

.form-list .customer-dob .dob-year input.input-text { 
	width: 134px; 
}

.fieldset { 
	border: 1px solid #ccc; 
	background: #f6f6f6; 
	padding: 22px 25px 12px 33px; 
	margin: 22px 0; 
}

.fieldset .legend { 
	float: left; 
	font-weight: bold; 
	font-size: 13px; 
	background: #ccc; 
	margin: -35px 0 0 -10px; 
	padding: 5px 10px; 
	position: relative; 
	border: 1px solid #fff; 
}

/* Form Validation */

.validation-advice { 
	clear: both; 
	min-height: 13px; 
	margin: 3px 0 0; 
	padding-left: 17px; 
	font-size: 10px; 
	line-height: 13px; 
	background: url(../images/validation_advice_bg.gif) 2px 1px no-repeat; 
	color: #f00; 
}

.validation-failed { 
	border: 1px dashed #f00 !important; 
	background: #faebe7 !important; 
}

.validation-passed { 
	 
}

p.required { 
	text-align: right; 
	color: #f00; 
}

/* Expiration date and CVV number validation fix */

.v-fix { 
	float: left; 
}

.v-fix .validation-advice { 
	display: block; 
	width: 12em; 
	margin-right: -12em; 
	position: relative; 
}

/* GLOBAL MESSAGES
========================================== */

.success { 
	color: #3d6611; 
	font-weight: bold; 
}

.error { 
	color: #f00; 
	font-weight: bold; 
}

.notice { 
	color: #ccc; 
}

.messages,
.messages ul { 
	list-style: none !important; 
	margin: 0 !important; 
	padding: 0 !important; 
}

.messages { 
	width: 100%; 
	overflow: hidden; 
}

.messages li { 
	margin: 0 0 10px; 
}

.messages li li { 
	margin: 0 0 3px; 
}

.error-msg,
.success-msg,
.note-msg,
.notice-msg { 
	border-style: solid !important; 
	border-width: 1px !important; 
	background-position: 10px 9px !important; 
	background-repeat: no-repeat !important; 
	min-height: 24px !important; 
	padding: 8px 8px 8px 32px !important; 
	font-size: 11px !important; 
	font-weight: bold !important; 
}

.error-msg { 
	border-color: #f16048; 
	background-color: #faebe7; 
	background-image: url(../images/i_msg-error.gif); 
	color: #df280a; 
}

.success-msg { 
	border-color: #446423; 
	background-color: #eff5ea; 
	background-image: url(../images/i_msg-success.gif); 
	color: #3d6611; 
}

.note-msg,
.notice-msg { 
	border-color: #fcd344; 
	background-color: #fafaec; 
	background-image: url(../images/i_msg-note.gif); 
	color: #3d6611; 
}

/* BREADCRUMBS
========================================== */

.breadcrumbs-container { 

}

.breadcrumbs { 
        padding-left: 30px;
	margin: 0 auto 12px; 
	width: 1234px; 
	font-size: 13px; 
}

.breadcrumbs .headline { 
	float: left; 
	text-transform: uppercase; 
	margin-right: 7px; 
}

.breadcrumbs li { 
	display: inline; 
}

.breadcrumbs li strong { 
	color: #88dae4;
}

.breadcrumbs a { 
	color: #5f5289;
}

.breadcrumbs a:hover { 
	color: #000;
}

.breadcrumbs span { 
	color: #5f5289;
}

/* PAGE HEADING
========================================== */

.page-title { 
	margin: 0 0 8px; 
        color:#5f5289;
}

.page-title h1,
.page-title h2 { 
	font-weight: bold; 
}

.page-title .separator { 
	margin: 0 3px; 
}

.page-title .link-rss { 
	float: right;
	padding: 4px 4px 4px 22px; 
	background: #f6f6f6 url(../images/i_rss.gif) no-repeat 5px center; 
	border: 1px solid #ddd; 
	font-size: 11px; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	color: #444; 
}

.title-buttons { 
	text-align: right; 
}

.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { 
	float: left; 
}

.subtitle,
.sub-title { 
	clear: both; 
}

/* PAGER
========================================== */

.pager { 
	padding: 8px;
	margin: 5px 0 0;
	text-align: center; 
	border: 1px solid #ddd; 
	color: #555;
}

.pager .amount { 
	float: left; 
}

.pager .limiter { 
	float: right; 
}

.pager .pages { 
	margin: 0 135px; 
}

.pager .pages ol { 
	display: inline; 
	font-size: 14px; 
	font-weight: bold; 
	margin-left: 8px; 
}

.pager .pages li { 
	display: inline; 
}

.pager .pages a{ 
	display: inline-block; 
	padding: 1px 5px; 
	background-color: #222; 
	color: #fff; 
	border: 1px solid #222; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
}

.pager .pages a:hover{ 
	text-decoration: none; 
	background-color: #666; 
	border: 1px solid #222; 
}

.pager .pages img{ 
	margin-top: -3px; 
	padding-right: 1px; 
	padding-left: 1px; 
}

.pager .pages .current { 
	color: #222; 
}

/* SORTER
========================================== */

.sorter { 
	padding: 8px;
	background: #eee;
	background-image: -moz-linear-gradient(top,#eeeeee,#ffffff);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#eeeeee),to(#ffffff));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#eeeeee,endColorStr=#ffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#eeeeee, endColorStr=#ffffff)"; 
	margin-right: 0; 
	margin-left: 0; 
	margin-bottom: 12px; 
	border: 1px solid #ddd; 
	color: #555; 
	border-top-color: #fff; 
}

.sorter .view-mode { 
	float: left; 
}

.sorter .view-mode strong{ 
	color: #222;
}

.sorter .sort-by { 
	float: right; 
}

.sorter .link-feed { 
	 
}

/* TOOLBAR
========================================== */

.toolbar { 
	 
}

.toolbar .pager { 
	 
}

.toolbar .sorter { 
	 
}

.toolbar-bottom { 
	 
}

/* DATA TABLE
========================================== */

.data-table { 
	width: 100%; 
}

.data-table th { 
	padding: 5px; 
	border: 1px solid #ddd; 
	font-weight: bold; 
	white-space: nowrap; 
}

.data-table td { 
	padding: 5px; 
	border: 1px solid #ddd; 
}

.data-table thead { 
	background-color: #eee; 
}

.data-table tbody { 
	 
}

.data-table tfoot { 
	 
}

.data-table tr.first { 
	 
}

.data-table tr.last { 
	 
}

.data-table tr.odd { 
	 
}

.data-table tr.even { 
	background-color: #f6f6f6; 
}

.data-table tbody.odd { 
	 
}

.data-table tbody.odd td { 
	border-width: 0 1px; 
}

.data-table tbody.even { 
	background-color: #f6f6f6; 
}

.data-table tbody.even td { 
	border-width: 0 1px; 
}

.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { 
	border-bottom-width: 1px; 
}

.data-table th .tax-flag { 
	white-space: nowrap; 
	font-weight: normal; 
}

.data-table td.label,
.data-table th.label { 
	font-weight: bold; 
	background-color: #f6f6f6; 
}

.data-table td.value { 
	 
}

/* CART
========================================== */

/* Shopping cart total summary row expandable to details
------------------------------------- */

tr.summary-total { 
	cursor: pointer; 
}

tr.summary-total td { 
	 
}

tr.summary-total .summary-collapse { 
	float: right; 
	text-align: right; 
	padding-left: 20px; 
	background: url(../images/bkg_collapse.gif) 0 4px no-repeat; 
	cursor: pointer; 
}

tr.show-details .summary-collapse { 
	background-position: 0 -53px; 
}

tr.show-details td { 
	 
}

tr.summary-details td { 
	font-size: 11px; 
	background-color: #dae1e4; 
	color: #626465; 
}

tr.summary-details-first td { 
	border-top: 1px solid #d2d8db; 
}

tr.summary-details-excluded { 
	font-style: italic; 
}

/* Shopping cart tax info
------------------------------------- */

.cart-tax-info { 
	display: block; 
}

.cart-tax-info,
.cart-tax-info .cart-price { 
	padding-right: 20px; 
}

.cart-tax-total { 
	display: block; 
	padding-right: 20px; 
	background: url(../images/bkg_collapse.gif) 100% 4px no-repeat; 
	cursor: pointer; 
}

.cart-tax-info .price,
.cart-tax-total .price { 
	display: inline !important; 
	font-weight: normal !important; 
}

.cart-tax-total-expanded { 
	background-position: 100% -53px; 
}

/* STD | admin-controlled content
========================================== */

.std .subtitle { 
	padding: 0; 
}

.std ol.ol { 
	list-style: decimal outside; 
	padding-left: 1.5em; 
}

.std ul.disc { 
	list-style: disc outside; 
	padding-left: 18px; 
	margin: 0 0 10px; 
}

.std dl dt { 
	font-weight: bold; 
}

.std dl dd { 
	margin: 0 0 10px; 
}

.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { 
	margin: 0 0 1em; 
	padding: 0; 
}

.std ul { 
	list-style: disc outside; 
	padding-left: 1.5em; 
}

.std ol { 
	list-style: decimal outside; 
	padding-left: 1.5em; 
}

.std ul ul { 
	list-style-type: circle; 
}

.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { 
	margin: .5em 0; 
}

.std dt { 
	font-weight: bold; 
}

.std dd { 
	padding: 0 0 0 1.5em; 
}

.std blockquote { 
	font-style: italic; 
	padding: 0 0 0 1.5em; 
}

.std address { 
	font-style: normal; 
}

.std b,
.std strong { 
	font-weight: bold; 
}

.std i,
.std em { 
	font-style: italic; 
}

/* MISC
========================================== */

.links li {
	display: inline; 
	margin-left: 5px; 
	border-left: 1px solid #bbb; 
	padding-left: 6px; 
}

.links li.first { 
	margin-left: 0; 
	padding-left: 0;
	border-left: 0;
}

.links li.last { 
	background: none !important; 
	padding-right: 0 !important; 
}

a.link-cart{ 
	color: #e75600; 
}

.link-wishlist { 
	font-weight: bold; 
}

.link-reorder { 
	font-weight: bold; 
}

.link-compare { 
	font-weight: bold; 
}

.link-print { 
	background: url(../images/i_print.gif) 0 2px no-repeat; 
	padding: 2px 0 2px 25px; 
}

.link-rss { 
	background: url(../images/i_rss.gif) 0 1px no-repeat; 
	padding-left: 18px; 
	white-space: nowrap; 
}

.btn-remove { 
	display: block; 
	width: 11px; 
	height: 11px; 
	font-size: 0; 
	line-height: 0; 
	background: url(../images/btn_remove.gif) 0 0 no-repeat; 
	text-indent: -999em; 
	overflow: hidden; 
}

.btn-remove2 { 
	display: block; 
	width: 16px; 
	height: 16px; 
	font-size: 0; 
	line-height: 0; 
	background: url(../images/btn_trash.gif) 0 0 no-repeat; 
	text-indent: -999em; 
	overflow: hidden; 
}

.btn-edit { 
	display: block; 
	width: 11px; 
	height: 11px; 
	font-size: 0; 
	line-height: 0; 
	background: url(../images/btn_edit.gif) 0 0 no-repeat; 
	text-indent: -999em; 
	overflow: hidden; 
}

.cards-list dt { 
	margin: 5px 0 0; 
}

.cards-list .offset { 
	padding: 2px 0 2px 20px; 
}

.separator { 
	margin: 0 3px; 
}

.divider { 
	clear: both; 
	display: block; 
	font-size: 0; 
	line-height: 0; 
	height: 1px; 
	margin: 10px 0; 
	background: #ddd; 
	text-indent: -999em; 
	overflow: hidden; 
}

/* Noscript Notice
------------------------------------- */

.noscript { 
	border: 1px solid #ddd; 
	border-width: 0 0 1px; 
	background: #ffff90; 
	font-size: 12px; 
	line-height: 1.25; 
	text-align: center; 
	color: #2f2f2f; 
}

.noscript .noscript-inner { 
	width: 1000px; 
	margin: 0 auto; 
	padding: 12px 0 12px; 
	background: url(../images/i_notice.gif) 20px 50% no-repeat; 
}

.noscript p { 
	margin: 0; 
}

/* Demo Notice
------------------------------------- */

.demo-notice { 
	margin: 0; 
	padding: 6px 10px; 
	background: #d75f07; 
	font-size: 12px; 
	line-height: 1.15; 
	text-align: center; 
	color: #fff; 
}

/* Cookie Notice
------------------------------------- */

.notice-cookie { 
	border-bottom: 1px solid #ccc; 
	background: #ffff90; 
	font-size: 12px; 
	line-height: 1.25; 
	text-align: center; 
	color: #2f2f2f; 
}

.notice-cookie .notice-inner { 
	width: 900px; 
	margin: 0 auto; 
	padding: 8px 0 8px 80px; 
	background: url(../images/i_notice.gif) 20px 25px no-repeat; 
	text-align: left; 
}

.notice-cookie .notice-inner p { 
	margin: 0 0 6px; 
	border: 1px dashed #aaa; 
	padding: 6px; 
	background-color: #ffffe5; 
}

.notice-cookie .notice-inner p a{ 
	font-weight: bold; 
}

.notice-cookie .notice-inner .actions { 
	 
}

/* HEADER
========================================== */

.logo { 
	float: left; 
}

.header-container { 
}

.header-top { 
	padding: 24px 0; 
}

.header{ 
	width: 1234px;
	margin: 0 auto;
}

.header .logo { 
	float: left; 
	text-decoration: none !important; 
}

.header .logo strong { 
	position: absolute; 
	top: -999em; 
	left: -999em; 
	width: 0; 
	height: 0; 
	font-size: 0; 
	line-height: 0; 
	text-indent: -999em; 
	overflow: hidden; 
}

.header h1.logo { 
	margin: 0; 
	padding: 0; 
}

.header-usps { 
	float: left; 
	font-size: 13px; 
	color: #777; 
	margin: 0 0 0 -100px; 
}

.header-usps .headline{ 
	text-transform: uppercase; 
	font-size: 16px; 
	margin-bottom: 1px; 
	color: #222; 
}

.header-usps .headline a{ 
	color: #555; 
}

.header-usps .usp1{ 
	float: left; 
	width: 220px; 
}

.header-usps .usp2{ 
	float: left; 
	width: 220px; 
}

.header-usps .usp3{ 
	float: left; 
	width: 220px; 
}

.header .header-right { 
	float: right; 
}

.header .welcome-msg { 
        font-size: 16px;
        margin-top: 10px;
	text-align: right; 
	margin-bottom: 4px; 
	color: #5f5289; 
/*	font-style: italic; */
}

.header .welcome-msg a { 
	 
}

.header-container .form-language { 
	float: right;
	text-align: right; 
	margin-bottom: 10px; 
}

.header-container .form-search label { 
	display: none;
}

.header-container .form-search { 
	float: left;
        margin-left: 16px;
}

.header-container .form-search input{ 
	width: 366px; 
        height:32px;
	padding: 8px 38px 8px 8px; 
	font-size: 14px; 
	color: #c8c5d3; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	border: 1px solid #88dae4; 
	background: #f8f8f8; 
}

/*.header-container .form-search button{ 
	-webkit-border-fit: lines;
	overflow: visible;
	margin: 0;
	width: auto;
	height: 33px !important;
	cursor: pointer;
	font: 12px/33px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #fff;
	white-space: nowrap; 
	padding-left: 12px; 
	padding-right: 12px; 
	text-transform: uppercase; 
	background-color: #666; 
	border: 1px solid #222; 
}*/

.header-container .form-search button{ 
	background-image: url(../images/search-icon-bg.png);
        background-color: transparent;
        background-repeat:no-repeat;
        border: 0;
        width:29px;
        margin-left: -40px;
        text-indent: -9999px;
}

.header-container .form-search button:hover{ 
	background-color: transparent; 
	border: 0; 
}

.header-container .form-search .search-autocomplete { 
	z-index: 999; 
}

.header-container .form-search .search-autocomplete ul { 
	border: 1px solid #ddd; 
	background-color: #fff; 
}

.header-container .form-search .search-autocomplete li { 
	padding: 3px; 
	border-bottom: 1px solid #ddd; 
	cursor: pointer; 
}

.header-container .form-search .search-autocomplete li .amount { 
	float: right; 
	font-weight: bold; 
}

.header-container .form-search .search-autocomplete li.selected { 
	 
}

.header-container .top-container { 
	clear: both; 
	text-align: right; 
}

.header-container .quick-access-container { 
	background: #f8f8f8; 
	border-bottom: 1px solid #fff; 
	padding: 6px 0; 
}

.header-container .quick-access { 
	width: 1234px;
        height:70px;
	margin: 0 auto;
        padding-top: 28px;
}

.header-container .quick-access .links {
	float: right;
	text-align: right; 
	margin-top: 20px; 
	font-size: 16px; 
}

.header-container .quick-access .links a {
	color: #5f5289;
}

.header-container .quick-access .links a:hover {
	color: #88dae4;
}

/* TOP NAVIGATION
========================================== */

.nav-container {
	display: block;
	background: #88dae4;
	background-image: -moz-linear-gradient(top,#88dae4,#88dae4);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#88dae4),to(#88dae4));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#88dae4,endColorStr=#88dae4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#88dae4, endColorStr=#88dae4)"; 
}

#nav { 
	width: 1234px;
	margin: 0 auto;
	font-size: 20px; 
	font-family: Fjalla One;
}

/* All Levels
------------------------------------- */

#nav li { 
	text-align: left; 
	position: relative; 
}

#nav li.over { 
	z-index: 998; 
}

#nav li.parent { 
	 
}

#nav ul li.parent a { 
	background: url(../images/bkg_parent.gif) no-repeat 95% center; 
}

#nav ul li.parent li a { 
	background-image: none; 
}

#nav li a { 
	display: block; 
	text-decoration: none; 
	text-transform: uppercase; 
}

#nav li a:hover { 
	text-decoration: none; 
}

#nav li a span { 
	display: block; 
	white-space: nowrap; 
	cursor: pointer; 
}

#nav li ul a span { 
	white-space: normal; 
}

/* 1st Level
------------------------------------- */

#nav li { 
	float: left; 
}

#nav li a {
	float: left;
	/*font-weight: bold;*/
	color: #fff;
	padding: 14px 17px;
}

#nav li.level0.nav-1.first a {

}

#nav li a:hover {
	color: #fff;
	background-color: #5f5289;
}

#nav li.over a{
	color: #fff;
	background-color: #5f5289;
}

#nav li.active a {
	color: #fff;
	background-color: #5f5289;	
}

/* 2nd Level
------------------------------------- */

#nav ul,
#nav div { 
	position: absolute;
	width: 15em;
	top: 44px;
	left: -10000px;
	/*border: 1px solid #999;*/
	background: #fff;
}

#nav div ul { 
	position: static; 
	width: auto; 
	border: none; 
}

/* 3rd+ Level
------------------------------------- */

#nav ul ul,
#nav ul div { 
	top: 7px; 
}

#nav ul li { 
	float: none; 
	/*border-bottom: 1px solid #ccc;*/ 
}

#nav ul li.last { 
	border-bottom: 0; 
}

#nav ul li a { 
	float: none; 
	padding: 6px 17px; 
	font-weight: normal; 
	font-size: 18px;
	color: #fff !important; 
	background-color: #5f5289 !important; 
	border: none !important; 
	text-transform: none; 
}

#nav ul li a:hover { 
	color: #000 !important; 
	background-color: #eee !important; 
}

#nav ul li.active > a,
#nav ul li.over > a { 
	color: #88dae4 !important; 
	background-color: #5f5289 !important; 
}

/* Show menu
------------------------------------- */

#nav li ul.shown-sub,
#nav li div.shown-sub { 
	left: 0; 
	z-index: 999; 
}

#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { 
	left: 100px; 
}

/* SIDEBAR
========================================== */

.block {
	margin: 0 0 14px;
}

.block .block-title {
	padding: 9px 1px 9px 10px;
	font-size: 13px;
	border: 1px solid #cfcbdb;
	border-bottom-style: none;
        color:#5f5289;
/*	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	background: #dfdce7;
/*	background-image: -moz-linear-gradient(top,#f6f6f6,#d5d5d5);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#e6e6e6));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f6f6f6,endColorStr=#d5d5d5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f6f6f6, endColorStr=#d5d5d5)"; */
}

.block .block-title strong {
	display: block;
	line-height: 16px;
	background-position: left top;
	background-repeat: no-repeat; 
	font-weight: bold; 
}

.block .block-title strong span { 
	 
}

.block .block-title a { 
	text-decoration: none !important; 
}

.block .block-subtitle { 
	font-size: 13px; 
	font-weight: bold; 
	color: #555; 
	margin-bottom: 5px; 
	font-style: italic; 
}

.block .block-content {
	border: 1px solid #cfcbdb;
	padding: 10px; 
	border-top-style: none; 
}

.block .block-content li.item.last { 
	border-bottom-style: none; 
}

.block .block-content li.item { 
	padding: 5px 0; 
	border-top-style: none; 
	border-bottom: 1px solid #ddd; 
}

.block .block-content li.item .price-box{ 
	margin-top: 3px; 
	margin-bottom: 3px; 
}

.block .block-content li.item .old-price .price-label,
.block .block-content li.item .special-price .price-label{ 
	display: none;
}

.block .block-content li.item .product-name{ 
	margin-bottom: 3px; 
	line-height: 1.2; 
        color: #5f5289;
        font-size:14px;
}

.block .block-content li.item .product-name a{
        color: #5f5289;
}

.block .btn-remove,
.block .btn-edit { 
	float: right; 
}

.block .actions { 
	text-align: right; 
	border-bottom: 1px solid #cfcbdb; 
	padding-top: 7px; 
	margin-top: 7px; 
}

.block .actions a { 
	float: left; 
        color: #5f5289;
        font-size: 14px;
}

.block .empty { 
	 
}

.block li.odd { 
	 
}

.block li.even { 

}

/* Mini Products List
------------------------------------- */

.mini-products-list li { 
	padding: 5px 0; 
}

.mini-products-list .product-image { 
	float: left; 
	width: 50px; 
}

.mini-products-list .product-details { 
	margin-left: 62px; 
}

.mini-products-list .product-details h4 { 
	font-size: 1em; 
	font-weight: bold; 
	margin: 0; 
}

.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small { 
	word-wrap: break-word; 
}

.block-cart .mini-products-list .product-details .nobr { 
	white-space: normal !important; 
}

/* Block: Account
------------------------------------- */

.block-account { 
	 
}

.block-account li{ 
	margin-bottom: 5px; 
}

/* Block: Currency Switcher
------------------------------------- */

.block-currency { 
	 
}

.block-currency select { 
	width: 100%; 
	border: 1px solid #888; 
}

/* Block: Layered Navigation
------------------------------------- */

.block-layered-nav { 

}

.block-layered-nav .block-title {
	background: #dfdce7;
/*	background-image: -moz-linear-gradient(top,#444444,#222222);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#444444),to(#222222));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#444444,endColorStr=#222222);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#444444, endColorStr=#222222)"; */
	color: #5f5289; 
	border-color: #dfdce7; 
        font-size: 14px;
}

.block-layered-nav .price { 
	font-weight: normal; 
	font-style: normal; 
}

.block-layered-nav .block-content { 
        border:1px solid #dfdce7;
}

.block-layered-nav dt { 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 14px; 
	margin-top: 3px; 
	margin-bottom: 3px; 
        color:#88dae4;
}

.block-layered-nav dd a{
        color:#5f5289;
        margin-left: 10px;
}

.block-layered-nav dd a:hover{
        color:#88dae4;
}

.block-layered-nav .actions { 
	margin-bottom: 8px; 
	padding-bottom: 7px; 
	border-bottom: 1px solid #ccc; 
	margin-top: 8px; 
}

.block-layered-nav .actions a{ 
	text-transform: uppercase; 
	font-weight: bold; 
	color: #f00; 
}

.block-layered-nav .currently { 
	background-color: #f2f2f2; 
	padding: 6px 0 6px 6px; 
}

.block-layered-nav .currently .block-subtitle{ 

}

.block-layered-nav .currently li{ 
	margin-bottom: 3px; 
}

.block-layered-nav .currently .label{ 
	font-weight: bold; 
}

.block-layered-nav .btn-remove { 
	float: left; 
	margin: 2px 3px 0 0; 
}

.block-layered-nav dd { 
	margin-bottom: 8px; 
	color: #666; 
	border-bottom: 1px solid #ddd; 
	padding-bottom: 8px; 
}

.block-layered-nav dd.last { 
	margin-bottom: 0; 
	padding-bottom: 0; 
	border-bottom-style: none; 
}

.block-layered-nav dd li { 
	margin-bottom: 1px; 
}

/* Block: Cart
------------------------------------- */

.block-cart { 
	 color:#5f5289;
         border-color: #dfdce7;
}

.block-cart .block-title { 
        background-color: #dfdce7;  
        text-transform: uppercase;
        background-image: none;
}

.block-cart .summary { 
	 
}

.block-cart .btn-remove { 
	margin-left: 2px; 
}

.block-cart .amount { 
	margin-bottom: 2px; 
}

.block-cart .subtotal { 
	margin-bottom: 4px; 
        font-size:18px;
}

.block-cart .subtotal .price{ 
	font-weight: bold; 
	font-size: 18px; 
}

.block-cart .actions .button{ 
/*	float: left;*/
        border: 0;
        background-color: #5f5289;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 10px;
}

.block-cart .actions .paypal-logo { 
	float: left; 
	width: 100%; 
	margin: 3px 0 0; 
	text-align: right; 
}

.block-cart .actions .paypal-logo .paypal-or { 
	clear: both; 
	display: block; 
	padding: 0 55px 5px 0; 
}

.block-cart .block-subtitle{ 
/*	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; */
	font-size: 14px; 
	font-weight: normal; 
	font-style: normal; 
	padding: 5px; 
	margin-bottom: 4px; 
	margin-top: 8px; 
        color: #5f5289;
/*	background-color: #f6f6f6; */
}


/* Block: Wishlist
------------------------------------- */

.block-wishlist { 
	 
}

/* Block: Related
------------------------------------- */

.block-related { 
	 
}

.block-related li { 
	padding: 5px 0; 
}

.block-related input.checkbox { 
	float: left; 
	margin-right: -20px; 
}

.block-related .product { 
	margin-left: 20px; 
}

.block-related .product .product-image { 
	float: left; 
	margin-right: -65px; 
}

.block-related .product .product-details { 
	margin-left: 62px; 
}

.block-related .product .product-details a.link-wishlist{ 
	font-weight: normal; 
	font-style: normal; 
	font-size: 11px; 
	color: #555; 
}

/* Block: Compare Products
------------------------------------- */

.block-compare { 

}

.block-compare .block-content p{
        color: #5f5289;
        font-size: 14px;
}

.block-compare .block-content .actions button{
        border: 0;
        background-color: #5f5289;
        text-transform: uppercase;
        font-size: 14px;
        margin-right: 10px;
}

.block-compare .block-title{
    background-color: #dfdce7;
}

.block-compare li { 
	padding: 5px 0; 
}

/* Block: Recently Viewed
------------------------------------- */

.block-viewed { 
	 
}

/* Block: Recently Compared
------------------------------------- */

.block-compared { 
	 
}

/* Block: Poll
------------------------------------- */

.block-poll label { 
	 
}

.block-poll input.radio { 
	float: left; 
	margin: 1px -18px 0 0; 
}

.block-poll .label { 
	display: block; 
	margin-left: 18px; 
}

.block-poll li { 
	border-top: 1px solid #ddd; 
	padding-bottom: 4px; 
	padding-top: 4px; 
}

.block-poll .actions { 
	margin: 5px 0 0; 
}

.block-poll .answer { 
	font-weight: bold; 
}

.block-poll .votes { 
	float: right; 
	margin-left: 10px; 
}

/* Block: Tags
------------------------------------- */

.block-tags li { 
	display: inline; 
	line-height: 1.2; 
	font-size: 16px; 
	text-align: center; 
}

.block-tags li a{ 
	display: inline-block;
	color: #444; 
	padding: 0 0 2px 3px; 
	text-transform: lowercase; 
}

/* Block: Subscribe
------------------------------------- */

.block-subscribe { 
	 
}

.block-subscribe .input-box{ 
	margin: 6px 0; 
}

/* Block: Reorder
------------------------------------- */

.block-reorder { 
	 
}

.block-reorder li { 
	padding: 5px 0; 
}

.block-reorder input.checkbox { 
	float: left; 
	margin: 3px -20px 0 0; 
}

.block-reorder .product-name { 
	margin-left: 20px; 
}

/* Block: Banner
------------------------------------- */

.block-banner { 
	 
}

.block-banner .block-content { 

}

/* Block: Login
------------------------------------- */

.block-login label { 
	font-weight: bold; 
	color: #666; 
}

.block-login input.input-text { 
	display: block; 
	width: 167px; 
	margin: 3px 0; 
}

/* Paypal
------------------------------------- */

.sidebar .paypal-logo { 
	display: block; 
	margin: 10px 0; 
	text-align: center; 
}

.sidebar .paypal-logo a { 
	float: none; 
}

/* CATEGORY PAGE
========================================== */

.category-title { 

}

.category-title h1{
        color:#5f5289;
        font-family: Fjalla One;
        font-size:30px;
        font-weight: normal;
}

.category-image { 
	width: 100%; 
	overflow: hidden; 
	margin: 0 0 10px; 
	text-align: center; 
}

.category-image img { 
	 
}

.category-description { 
	margin: 0 0 10px; 
	color: #5f5289; 
        font-size: 14px;
}

.category-products { 
	 font-family: Fjalla One;
         font-size: 30px;
         color: #5f5288;
}

.category-products .toolbar{
        font-size:14px;
        font-family: Arial;
        font-weight: normal;
        color: #5f5288;
}

.category-products .toolbar .amount{
        color: #5f5289;
        font-weight: normal;
}

.category-products .toolbar .limiter{
        color: #5f5288;
}

.category-products .toolbar .pager{
        border: 1px solid #dfdce7;
}

.category-products .toolbar .sorter{
        border: 1px solid #dfdce7;
        background: #dfdce7;
        background-image: none;
}

.category-products .toolbar .sorter .view-mode{
        color: #5f5288;
        font-size: 14px;
}

.category-products .toolbar .sorter .view-mode .grid{
        color: #5f5289;
}

.category-products .toolbar .sorter .view-mode .list{
        color: #5f5289;
}

.category-products .toolbar .sorter .sort-by{
        color: #5f5288;
        font-size: 14px;
}

/* Category View Type: GRID 
------------------------------------- */

.products-grid { 
	position: relative; 
	margin-bottom: 12px; 
        margin-top: 12px;
        width:1200px;
}

.products-grid.last { 
	border-bottom: 0; 
}

.products-grid li.item { 
	float: left; 
	width: 230px; 
/*	border: 1px solid #ccc; */
	margin-right: 13px; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}

.col1-layout .products-grid li.item,
.col2-left-layout .products-grid li.item,
.col2-right-layout .products-grid li.item{ 
	width: 229px; 
}

.products-grid li.item:hover { 
/*	-moz-box-shadow: 0px 0px 11px #aaa; 
	-webkit-box-shadow: 0px 0px 11px #aaa; 
	box-shadow: 0px 0px 11px #aaa; */
}

.products-grid li.item .product-image:hover { 
        opacity: 0.7;
}

.products-grid li.item.last { 
	margin-right: 0; 
}

.products-grid .label-sale { 
	position: absolute; 
}

.products-grid .product-image { 
	display: block; 
	width: 229px; 
	height: 320px; 
/*	padding: 10px 10px 0; */
}

.products-grid .item-review { 
	height: 14px; 
	padding: 6px 0 9px 10px; 
}

.products-grid .ratings{ 
	margin: 0; 
}

.products-grid .ratings a{ 
	color: #666; 
}

.products-grid .item-bottom { 
	padding: 10px; 
/*	background: url(../images/griditem-bottom.gif) repeat-x left top; */
}

.products-grid .product-name { 

}

.products-grid .product-name a { 
	display: block;
	color: #5f5288; 
/*	height: 44px; */
	font-size: 19px; 
        font-family: Fjalla One;
        text-align: center;
}


.products-grid .price-box { 
/*	margin: 5px 0; 
	height: 58px; */
        text-align: center;
}

.products-grid .price-label{ 
	color: #555; 
	margin-right: 2px; 
	font-size: 11px; 
}

.products-grid .price{ 
	font-size: 19px; 
}

.products-grid .availability { 
	margin: 0; 
}

.products-grid .actions { 
	height: 36px; 
        padding-left: 20%;
}

.products-grid .btn-cart{
        border:0px;
	cursor: pointer;
/*	border: 1px solid #f56e24;
	font: bold 11px/25px Arial, Helvetica, sans-serif;*/
        font-family: Fjalla One;
        font-size: 16px;
	color: #fff;
	height: 37px;
        width: 128px;
/*	background: #f56e24;
	background-image: -moz-linear-gradient(top,#ff923e,#f56e24);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff923e),to(#f56e24));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff923e,endColorStr=#f56e24);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff923e, endColorStr=#f56e24)"; */
        background: #5f5288;
	background-image: -moz-linear-gradient(#5f5288);
	background-image: -webkit-gradient(#5f5288);
	text-transform: uppercase; 
	padding-right: 12px; 
	padding-left: 12px; 
}

.products-grid .btn-cart:hover {
        background: #88dae4;
	background-image: -moz-linear-gradient(#88dae4);
	background-image: -webkit-gradient(#88dae4);
}

.col2-left-layout .products-grid,
.col2-right-layout .products-grid { 

}

.col1-layout .products-grid { 

}

/* Category View Type: LIST 
------------------------------------- */

.products-list li.item { 
	padding: 18px 0 14px; 
/*	background: url(../images/griditem-bottom.gif) repeat-x left top; */
        border-top: 1px solid #dfdce7;

}

.products-list li.item.last { 
	border-bottom: 0; 
}

.products-list li .label-sale { 
	position: absolute; 
	margin-top: -18px; 
}

.products-list .product-image { 
	float: left; 
	width: 180px; 
	height: 180px; 
	padding-left: 12px; 
}

.products-list .product-shop { 
	margin-left: 227px; 
}

.products-list .product-name { 
       
}

.products-list .product-name a { 
	font-family: Fjalla One;
        color: #5f5288;
        font-size:19px;
	font-weight: bold; 
}

.products-list .price-box { 
	margin: 8px 0; 
}

.products-list .price-label{ 
	color: #555; 
	margin-right: 2px; 
	font-size: 11px; 
}

.products-list .price-label{ 
	color: #555; 
	margin-right: 2px; 
	font-size: 11px; 
}

.products-list .price{ 
	font-size: 15px; 
}

.products-list .availability { 
	float: left; 
	margin: 3px 0 0; 
}

.products-list .desc { 
	clear: both; 
	padding: 8px 0 0; 
	margin: 0 0 12px; 
	line-height: 1.35; 
        font-size:12px;
        font-family: Arial
}

.products-list .desc a{
        color:#5f5289;
}

.products-list .desc .link-learn { 
	font-weight: bold; 
}

.products-list .add-to-links { 
	clear: both; 
	margin-bottom: 0;        
}

.products-list .add-to-links li { 
	display: inline; 
        font-size: 14px;
        font-family: Arial;
}

.products-list .add-to-links li a{
        color: #5f5289;
}

.products-list .add-to-links .separator { 
	display: inline; 
	margin: 0 2px; 
	color: #999;
}

.products-list .add-to-links a { 
	color: #555; 
	font-weight: normal; 
	font-style: normal; 
}

.products-list .btn-cart{
        cursor: pointer;
	border: 0;
	font: 16px Fjalla One;
	color: #fff;
	height: 25px;
	background: #5f5289;
        text-transform: uppercase; 
	padding-right: 12px; 
	padding-left: 12px; 
}

.products-list .btn-cart:hover {
	background: #88dae4;
}

/* PRODUCT VIEW
========================================== */

/* Rating
------------------------------------- */

.no-rating { 
	margin: 0; 
        font-size: 14px;
        color: #5f5289;
}

.no-rating a{
    color: #5f5289;
}

.ratings { 
	font-size: 11px; 
	margin: 7px 0; 
}

.ratings strong { 
	float: left; 
	margin: 1px 3px 0 0; 
}

.ratings .rating-links { 
	margin: 0; 
}

.ratings .rating-links .separator { 
	margin: 0 2px; 
}

.ratings dt { 
	 
}

.ratings dd { 
	 
}

.rating-box { 
	width: 69px; 
	height: 13px; 
	font-size: 0; 
	line-height: 0; 
	background: url(../images/bkg_rating.gif) 0 0 repeat-x; 
	text-indent: -999em; 
	overflow: hidden; 
}

.rating-box .rating { 
	float: left; 
	height: 13px; 
	background: url(../images/bkg_rating.gif) 0 100% repeat-x; 
}

.ratings .rating-box { 
	float: left; 
	margin-right: 3px; 
}

.ratings .amount { 
	 
}

.ratings-table th,
.ratings-table td { 
	font-size: 11px; 
	line-height: 1.15; 
	padding: 3px 0; 
}

.ratings-table th { 
	font-weight: bold; 
	padding-right: 8px; 
}

/* Availability
------------------------------------- */

.availability { 
	margin: 10px 0; 
        color: #5f5289;
        font-size: 14px;
}

.availability span { 
	font-weight: bold; 
}

.availability.in-stock span { 
	 
}

.availability.in-stock span { 
	color: #5f5289; 
	text-transform: uppercase; 
}

.availability.out-of-stock span { 
	color: #d83820; 
	text-transform: uppercase; 
}

.availability-only { 
	margin: 0 0 7px; 
}

.availability-only a { 
	background: url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; 
	cursor: pointer; 
	padding-right: 15px; 
}

.availability-only .expanded { 
	background-position: 100% -15px; 
}

.availability-only strong { 
	 
}

.availability-only-details { 
	margin: 0 0 7px; 
}

.availability-only-details th { 
	background: #f2f2f2; 
	font-size: 10px; 
	padding: 0 8px; 
}

.availability-only-details td { 
	border-bottom: 1px solid #ddd; 
	font-size: 11px; 
	padding: 2px 8px 1px; 
}

.availability-only-details tr.odd td.last { 
	 
}

/* Email to a Friend
------------------------------------- */

.email-friend { 
	margin-bottom: 2px; 
	font-weight: bold; 
        font-size: 14px;
}

.email-friend a{
        color: #5f5289;
}

/* Alerts
------------------------------------- */

.alert-price { 
	 
}

.alert-stock { 
	 
}

/* PRICES
========================================== */

.price { 
	white-space: nowrap !important; 
/*	font-weight: bold; */
}

.price-box { 
	font-size: 24px; 
        font-family: Fjalla One;
        color: #f03871;
}

.price-box .price { 
}

/* Regular price
------------------------------------- */

.regular-price { 
	 
}

.regular-price .price { 
    color:#f03871;
    font-family: Fjalla One;
    font-size: 19px;
}

/* Old price
------------------------------------- */

.old-price { 
	 
}

.old-price .price-label { 
	white-space: nowrap; 
}

.old-price .price { 
	text-decoration: line-through; 
}

/* Special price 
------------------------------------- */

.special-price { 
	 
}

.special-price .price-label { 
	white-space: nowrap; 
}

.special-price .price { 
	color: #e54100; 
}

/* Minimal price (as low as)
------------------------------------- */

.minimal-price { 
	 
}

.minimal-price .price-label { 
	white-space: nowrap; 
}

.minimal-price-link { 
	display: block; 
}

.minimal-price-link .label { 
	 
}

.minimal-price-link .price { 
	color: #e54100; 
}

a.minimal-price-link{ 
	color: #e54100; 
}

a.minimal-price-link:hover{ 
	text-decoration: none; 
	cursor: text;
}

a.minimal-price-link .label{ 
	color: #555; 
	font-size: 11px; 
	margin-right: 2px; 
}

/* Excluding tax
------------------------------------- */

.price-excluding-tax { 
	display: block; 
}

.price-excluding-tax .label { 
	white-space: nowrap; 
}

.price-excluding-tax .price { 
	font-weight: normal; 
}

/* Including tax
------------------------------------- */

.price-including-tax { 
	display: block; 
}

.price-including-tax .label { 
	white-space: nowrap; 
}

.price-including-tax .price { 
	font-weight: bold; 
}

/* Configured price
------------------------------------- */

.configured-price { 
	 
}

.configured-price .price-label { 
	font-weight: bold; 
	white-space: nowrap; 
}

.configured-price .price { 
	font-weight: bold; 
}

/* FPT
------------------------------------- */

.weee { 
	display: block; 
	font-size: 11px; 
	color: #444; 
}

.weee .price { 
	font-size: 11px; 
	font-weight: normal; 
}

/* Excl tax (for order tables)
------------------------------------- */

.price-excl-tax { 
	display: block; 
}

.price-excl-tax .label { 
	display: block; 
	white-space: nowrap; 
}

.price-excl-tax .price { 
	display: block; 
}

/* Incl tax (for order tables)
------------------------------------- */

.price-incl-tax { 
	display: block; 
}

.price-incl-tax .label { 
	display: block; 
	white-space: nowrap; 
}

.price-incl-tax .price { 
	display: block; 
	font-weight: bold; 
}

/* Price range
------------------------------------- */

.price-from { 
	 
}

.price-from .price-label { 
	white-space: nowrap; 
}

.price-to { 
	 
}

.price-to .price-label { 
	white-space: nowrap; 
}

/* Price notice next to the options
------------------------------------- */

.price-notice { 
	padding-left: 5px; 
	color: #666; 
}

.price-notice .price { 
	font-weight: bold; 
	color: #333; 
	margin-left: 2px; 
}

/* Price as configured
------------------------------------- */

.price-as-configured { 
	 
}

.price-as-configured .price-label { 
	font-weight: bold; 
	white-space: nowrap; 
}

.price-box-bundle { 
	 
}

/* Tier Prices
------------------------------------- */

.tier-prices li{
         color: #5f5289;
}

.tier-prices .price { 
	font-weight: bold; 
}

.tier-prices .benefit { 
	 
}

.tier-prices-grouped { 
	 
}

/* ADD TO LINKS
========================================== */

.add-to-links .separator { 
	display: none; 
}

/* Add to Cart
------------------------------------- */

.add-to-cart label {
	display: none; 
	float: left; 
	margin-right: 5px; 
}

.add-to-cart .qty { 
	float: left; 
	width: 2.5em !important; 
	text-align: center; 
	padding: 6px 5px; 
	font-size: 16px; 
	margin-right: 4px; 
}

.add-to-cart button.button,
.add-to-cart button.button:hover {
	float: left;
	padding: 0 16px;
	cursor: pointer;
	border: 1px solid #cfcbdb;
	font: 18px Fjalla One;
	color: #fff;
	height: 34px !important;
	text-transform: uppercase;
        background: #5f5289;
/*	background: #f56e24;
	background-image: -moz-linear-gradient(top,#ff923e,#f56e24);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff923e),to(#f56e24));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff923e,endColorStr=#f56e24);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff923e, endColorStr=#f56e24)";*/
}

.add-to-cart .paypal-logo { 
	clear: left; 
	text-align: right; 
}

.add-to-cart .paypal-logo .paypal-or { 
	clear: both; 
	display: block; 
	margin: 5px 60px 5px 0; 
}

.product-view .add-to-cart .paypal-logo { 
	margin: 0; 
}

/* Add to Links + Add to Cart
------------------------------------- */

.add-to-box { 
	background: #fff;
/*	background-image: -moz-linear-gradient(top,#ffffff,#f6f6f6);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f6f6f6));*/
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#f6f6f6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#f6f6f6)"; 
	padding: 10px; 
	border: 1px solid #cfcbdb; 
	margin: 12px 0; 
}

.add-to-box .add-to-cart { 
	margin: 12px 0; 
}

.add-to-box .add-to-cart .qty{ 
	color:#5f5289;
        font-weight: bold;
        border-color: #cfcbdb;
}

.add-to-box .or { 

}

.add-to-links { 
	margin: 12px 0; 
        font-size: 14px;        
}

.add-to-links li{ 
	margin-bottom: 2px; 
}

.add-to-links li a{
        font-weight: normal;
        color: #5f5289;
}

/* PRODUCT IMAGES
========================================== */

.product-view .product-img-box { 
	float: left; 
	width: 450px; 
}

.col3-layout .product-view .product-img-box { 
	float: none; 
	margin: 0 auto; 
}

.product-view .product-img-box .product-image { 
	border: 1px solid #ddd; 
}

.product-view .product-img-box .product-image-zoom { 
	position: relative; 
	width: 448px; 
	height: 539px; 
	overflow: hidden; 
	z-index: 9; 
}

.product-view .product-img-box .product-image-zoom img { 
	position: absolute; 
	left: 0; 
	top: 0; 
	cursor: move; 
}

.product-view .product-img-box .zoom-notice { 
	text-align: center; 
	margin-top: 8px; 
	margin-bottom: 8px; 
	color: #555; 
	font-size: 12px; 
}

.product-view .product-img-box .zoom { 
	position: relative; 
	z-index: 9; 
	height: 18px; 
	margin: 0 auto 14px; 
	padding: 0 28px; 
	background: url(../images/slider_bg.gif) 50% 50% no-repeat; 
	cursor: pointer; 
}

.product-view .product-img-box .zoom.disabled { 
	-moz-opacity: .3; 
	-webkit-opacity: .3; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
	/*IE8*/ opacity: .3; 
}

.product-view .product-img-box .zoom #track { 
	position: relative; 
	height: 18px; 
}

.product-view .product-img-box .zoom #handle { 
	position: absolute; 
	left: 0; 
	width: 10px; 
	height: 20px; 
	background: url(../images/magnifier_handle.gif) 0 0 no-repeat; 
}

.product-view .product-img-box .zoom .btn-zoom-out { 
	position: absolute; 
	left: 0; 
	top: 0; 
}

.product-view .product-img-box .zoom .btn-zoom-in { 
	position: absolute; 
	right: 0; 
	top: 0; 
}

.product-view .product-img-box .more-views { 
	margin-bottom: 8px; 
}

.product-view .product-img-box .more-views h2 { 
	color: #555; 
	font-size: 12px; 
	margin-bottom: 5px; 
}

.product-view .product-img-box .more-views ul { 
}

.product-view .product-img-box .more-views li { 
	float: left; 
	margin: 0 8px 8px 0; 
	border: 1px solid #ddd; 
}

.product-image-popup { 
	margin: 0 auto; 
}

.product-image-popup .buttons-set { 
	float: right; 
	clear: none; 
	border: 0; 
	margin: 0; 
	padding: 0; 
}

.product-image-popup .nav { 
	margin: 0 100px; 
	text-align: center; 
}

.product-image-popup .image { 
	display: block; 
}

.product-image-popup .image-label { 
	 
}

/* PRODUCT SHOP
========================================== */

.product-view .product-shop { 
	float: right; 
	width: 470px; 
}

.col1-layout .product-view .product-shop { 
	float: right; 
	width: 700px; 
}

.col3-layout .product-view .product-shop { 
	float: none; 
	width: auto; 
}

.product-view .product-shop .ratings { 
	font-size: 12px; 
	margin: 8px 0; 
}

.product-view .product-name h1{ 
	margin-bottom: 10px; 
	font-weight: bold; 
	font-size: 30px; 
        color: #5f5289;
        font-family: Fjalla One;
}

.product-view .item-options { 
	margin-top: 10px; 
}

.product-view .short-description { 
	margin-top: 16px; 
	color: #5f5289; 
        font-size: 14px;
}

.product-view .short-description h2{ 
	font-size: 24px;
	font-weight: bold; 
	text-transform: uppercase; 
	color: #5f5289; 
        font-family: Fjalla One;
}

.product-view .product-essential .price-label{ 
	margin-right: 4px; 
	color: #555; 
}

.product-view .product-essential .price-box .price{ 
	font-size: 22px; 
}

.product-view .product-essential .price-from .price,
.product-view .product-essential .price-to .price{ 
	font-size: 15px; 
	color: #333; 
}

.product-view .product-essential .price-box .regular-price .price{ 
	
}

.product-view .product-essential .price-box .old-price .price{ 
	font-size: 15px; 
	color: #333; 
}

.product-view .product-essential .price-box .special-price .price{ 
	
}

.product-shop .tier-prices{ 
	margin-bottom: 3px; 
	margin-top: 3px; 
}

/* PRODUCT OPTIONS
========================================== */

.product-options { 
	padding: 10px; 
	margin: 14px 0 0; 
	border: 1px solid #ccc; 
	background-color: #f8f8f8; 
}

.product-options dt label { 
	font-weight: bold; 
	font-size: 14px; 
}

.product-options dt label em{ 
	margin-right: 2px; 
	margin-left: 2px; 
	color: #f00; 
	font-weight: normal; 
	font-style: normal; 
}

.product-options dt .qty-holder { 
	float: right; 
}

.product-options dt .qty-holder label { 
	vertical-align: middle; 
}

.product-options dt .qty-disabled { 
	background: none; 
	border: 0; 
	padding: 3px; 
	color: #000; 
}

.product-options dd { 
	margin: 0 0 10px; 
	border-bottom: 1px solid #ccc; 
	padding: 6px 10px 10px; 
}

.product-options dl dd.last { 
	border-bottom-style: none; 
	padding-bottom: 0; 
	margin-bottom: 0; 
}

.product-options dd input.input-text { 
	width: 100%; 
	margin-bottom: 2px; 
}

.product-options dd input.datetime-picker { 
	width: 150px; 
}

.product-options dd .time-picker { 
	display: -moz-inline-box; 
	display: inline-block; 
	padding: 2px 0; 
	vertical-align: middle; 
}

.product-options dd textarea { 
	width: 98%; 
	height: 8em; 
}

.product-options dd select { 
	width: 100%; 
}

.product-options dd .qty-holder { 
	display: block; 
	padding: 10px 0 0; 
}

.product-options .options-list { 
	margin-top: 2px; 
}

.product-options .options-list li { 
	margin-bottom: 4px; 
}

.product-options .options-list input.radio { 
	float: left; 
	margin: 3px -18px 0 0; 
}

.product-options .options-list input.checkbox { 
	float: left; 
	margin: 3px -20px 0 0; 
}

.product-options .options-list .label { 
	display: block; 
	margin-left: 20px; 
}

.product-options ul.validation-failed { 
	padding: 0 7px; 
}

.product-options p.required { 
	padding: 6px 0 0; 
}

.product-options-bottom { 
	padding: 10px; 
	border: 1px solid #ccc; 
	border-top: 0; 
	background: #fff;
}

.product-options-bottom .price-box { 
	margin: 0 0 10px; 
}

/* GROUPED PRODUCT
========================================== */

.product-view .grouped-items-table { 
	 
}

.product-view .grouped-items-table .price-box .price{ 
	font-size: 15px; 
}

/* PRODUCT ESSENTIAL
========================================== */

.product-essential { 
	 
}


/* PRODUCT BLOCKS - BOXES
========================================== */

.product-collateral .box-collateral { 
	margin-top: 22px; 
}

.product-collateral .box-collateral h2{ 
	background: #efedf3;
	padding: 6px 8px; 
	border: 1px solid; 
        border-color: #d2cede #fff #fff;
	margin: 12px 0; 
	font-size: 30px; 
	font-weight: bold; 
	text-transform: uppercase; 
        font-family: Fjalla One;
        color: #5f5289;
}

.product-collateral .box-collateral .std{
        color: #5f5289;
        font-size: 14px;
}

/* Block: Description
------------------------------------- */

.product-view .box-description { 
	 
}

/* Block: Additional
------------------------------------- */

.product-view .box-additional h2{ 
	 background: none;
	 border: none;
	 padding: 0;
}

.product-view .box-additional table{
        color: #5f5289;
        font-size:14px;
}

/* Block: Upsell
------------------------------------- */

.product-view .box-up-sell { 

}

.product-view .box-up-sell .products-grid { 
	margin: 0; 
	border-bottom-style: none; 
}

.product-view .box-up-sell .products-grid td { 
	width: 25%; 
	padding-left: 14px; 
	padding-right: 14px; 
}

.product-view .box-up-sell .products-grid .product-image { 
	width: 210px; 
	height: 210px; 
	padding: 0 0 10px; 
}

.product-view .box-up-sell .products-grid .product-name a { 
	height: auto; 
	margin-bottom: 12px; 
}

.product-view .box-up-sell .products-grid .price-box { 
	height: auto; 
	margin-bottom: 8px; 
}

.product-view .box-up-sell .rating-links { 
	display: none;
}

/* Block: Tags
------------------------------------- */

.product-view .box-tags { 
	background-color: #f8f8f8; 
	padding: 12px 8px; 
	border: 1px solid #ddd; 
}

.product-view .box-tags h2{ 
	 background: none;
	 border: none;
	 padding: 0;
	 margin-top: 0;
}

.product-view .box-tags li{ 
	display: inline-block; 
	margin-right: 12px; 
	margin-bottom: 8px; 
}

.product-view .box-tags .form-add{ 
	margin-bottom: 10px; 
}

.product-view .box-tags .form-add label { 
	display: none;
	float: left; 
	font-weight: bold; 
}

.product-view .box-tags .form-add .input-box { 
	float: left; 
	margin-right: 5px; 
}

.product-view .box-tags .form-add input.input-text { 
	padding: 5px; 
	width: 420px; 
	margin-right: 3px; 
}

.product-view .box-tags .form-add p { 
	clear: both; 
}

.product-view .box-tags .form-add button{
        background-color: #5f5289;
        border: 0;
        font-family: Fjalla One;
}

.product-view .box-tags .note { 
	color: #555;
}

.product-view .box-tags p{
        font-size:14px;
        color: #5f5289;
}

/* Block: Reviews
------------------------------------- */

.product-view .box-reviews { 
	 
}

.product-view .box-reviews .form-add { 
	 
}

.product-view .box-reviews .form-add .data-table{ 
	margin-top: 16px; 
	margin-bottom: 16px; 
}

.product-view .box-reviews .form-add .form-list{ 
	background: #f6f6f6; 
	padding: 12px; 
	border: 1px solid #ddd; 
}

.product-view .box-reviews .form-add .buttons-set button{ 
	 float: left;
}

.product-view .box-reviews dt{ 
	font-size: 13px; 
	color: #555; 
}

.product-view .box-reviews dt a{ 
	font-weight: bold; 
	font-size: 14px; 
	margin-right: 5px; 
}

.product-view .box-reviews dd{ 
	margin-bottom: 12px; 
	padding-bottom: 12px; 
	border-bottom: 1px solid #ccc; 
}

.product-view .box-reviews .pager{ 
	margin: 12px 0; 
}

.product-view .box-reviews .ratings-table{ 
	margin-bottom: 10px; 
	margin-top: 10px; 
}

/* Send a Friend
------------------------------------- */

.send-friend { 
	 
}

/* CONTENT STYLES
========================================== */

.product-name { 
	font-size: 1em; 
	font-weight: normal; 
}

.product-name a { 
	 
}

/* PRODUCT TAGS
========================================== */

.tags-list li { 
	display: inline; 
}

/* ADVANCED SEARCH
========================================== */

.advanced-search { 
	 
}

.advanced-search-amount { 
	 
}

.advanced-search-summary { 
	 
}

/* CMS: Homepage
========================================== */

.homepage { 
	margin-bottom: 16px; 
}

.homepage .home-right { 
	float: right; 
	width: 392px; 
	height: 410px;
	overflow: hidden;
}

.homepage .home-box1 { 
	float: left;
	width: 392px; 
	height: 230px;
	margin-right: 12px; 
}

.homepage .home-box2 { 
	float: left;
	width: 392px;
	height: 230px; 
}

.homepage .home-box3 { 
	float: right;
	width: 392px;
	height: 230px; 
}

.cms-home .toolbar-bottom{ 
	display: none;
}

/* SITEMAP
========================================== */

.page-sitemap .links { 
	text-align: right; 
	margin: 0 8px -22px 0; 
}

.page-sitemap .links a { 
	text-decoration: none; 
	position: relative; 
}

.page-sitemap .links a:hover { 
	text-decoration: underline; 
}

.page-sitemap .sitemap { 
	margin: 12px; 
}

.page-sitemap .sitemap a { 
	 
}

.page-sitemap .sitemap li { 
	margin: 3px 0; 
}

.page-sitemap .sitemap li.level-0 { 
	margin: 10px 0 0; 
	font-weight: bold; 
}

.page-sitemap .sitemap li.level-0 a { 
	 
}

/* RSS
========================================== */

.rss-title h1 { 
	background: url(../images/i_rss-big.png) 0 4px no-repeat; 
	padding-left: 27px; 
}

.rss-table .link-rss { 
	display: block; 
	line-height: 1.35; 
	background-position: 0 2px; 
}

/* SHOPPING CART
========================================== */

.cart { 
	 
}

/* Checkout Types
------------------------------------- */

.cart .checkout-types { 
	float: right; 
	text-align: right; 
}

.cart .title-buttons .checkout-types li { 
	float: left; 
	margin: 0 0 5px 5px; 
}

.cart .checkout-types .paypal-or { 
	margin: 0 8px; 
	line-height: 2.3; 
}

.cart .totals .checkout-types .paypal-or { 
	clear: both; 
	display: block; 
	padding: 3px 55px 8px 0; 
	line-height: 1.0; 
	font-size: 11px; 
}

.checkout-types button.button{
        padding: 0 16px;
	cursor: pointer;
	border: 0;
	font: 15px Fjalla One;
	color: #fff;
	height: 34px !important;
	text-transform: uppercase;
	background: #5f5289;
}

.checkout-types button.button:hover {
        background: #88dae4;
/*	background-image: -moz-linear-gradient(top,#ff923e,#f56e24);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff923e),to(#f56e24));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff923e,endColorStr=#f56e24);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff923e, endColorStr=#f56e24)";*/
}

/* Shopping Cart Table
------------------------------------- */

.cart-table .item-msg { 
	font-size: 10px; 
}

/* Shopping Cart Collateral boxes
------------------------------------- */

.cart .cart-collaterals { 
	padding: 25px 0 0; 
}

.cart .cart-collaterals .col2-set { 
	float: left; 
	width: 700px; 
}

.cart .crosssell { 
	background: #f6f6f6; 
	border: 1px solid #ccc; 
	padding: 10px; 
}

.cart .crosssell h2 { 
	font-size: 13px; 
	font-weight: bold; 
}

.cart .crosssell .product-image { 
	float: left; 
	width: 75px; 
	height: 75px; 
	border: 1px solid #ddd; 
}

.cart .crosssell .product-details { 
	margin-left: 90px; 
}

.cart .crosssell li.item { 
	margin: 10px 0 0; 
	border-top: 1px solid #ccc; 
	padding-top: 10px; 
}

.cart .crosssell .add-to-links{ 
	margin: 5px 0 0; 
}

.cart .crosssell .add-to-links a{ 
	font-size: 11px; 
	font-weight: normal; 
	font-style: normal; 
	color: #555; 
}

.cart .crosssell .price-box{ 
	margin-bottom: 6px; 
}

/* Discount Codes & Estimate Shipping and Tax Boxes 
------------------------------------- */

.cart .discount,
.cart .shipping { 
	margin-bottom: 12px;
	background: #f6f6f6; 
	border: 1px solid #ccc; 
	padding: 10px; 
}

/* Shopping Cart Totals
------------------------------------- */

.cart .totals { 
	float: right; 
}

.cart .totals table { 
	width: 100%; 
}

.cart .totals table th,
.cart .totals table td { 
	padding: 5px; 
}

.cart .totals table th { 
	font-weight: bold; 
}

.cart .totals table tfoot th { 
	 
}

/* Options Tool Tip
------------------------------------- */

.item-options dt { 
	font-weight: bold; 
	font-style: italic; 
}

.item-options dd { 
	padding-left: 10px; 
}

.truncated { 
	cursor: help; 
}

.truncated a.dots { 
	cursor: help; 
}

.truncated a.details { 
	cursor: help; 
}

.truncated .truncated_full_value { 
	position: relative; 
	z-index: 999; 
}

.truncated .truncated_full_value .item-options { 
	position: absolute; 
	top: -99999em; 
	left: -99999em; 
	z-index: 999; 
	width: 250px; 
	padding: 8px; 
	border: 1px solid #ddd; 
	background-color: #f6f6f6; 
}

.truncated .truncated_full_value .item-options > p { 
	font-weight: bold; 
	text-transform: uppercase; 
}

.truncated .show .item-options { 
	top: -20px; 
	left: 50%; 
}

.col-left .truncated .show .item-options { 
	left: 30px; 
	top: 7px; 
}

.col-right .truncated .show .item-options { 
	left: -240px; 
	top: 7px; 
}

/* CHECKOUT
========================================== */

/* Shipping and Payment methods
------------------------------------- */

.sp-methods dt { 
	font-weight: bold; 
}

.sp-methods .price { 
	font-weight: bold; 
}

.sp-methods .form-list { 
	padding-left: 20px; 
}

.sp-methods select.month { 
	width: 150px; 
	margin-right: 10px; 
}

.sp-methods select.year { 
	width: 96px; 
}

.sp-methods input.cvv { 
	width: 3em !important; 
}

.sp-methods .checkmo-list li { 
	margin: 0 0 5px; 
}

.sp-methods .checkmo-list label { 
	width: 135px; 
	padding-right: 10px; 
	text-align: right; 
}

.sp-methods .checkmo-list address { 
	float: left; 
}

.sp-methods .centinel-logos a { 
	margin-right: 3px; 
}

.sp-methods .centinel-logos img { 
	vertical-align: middle; 
}

.sp-methods .release-amounts { 
	margin: 0.5em 0 1em; 
}

.sp-methods .release-amounts button { 
	float: left; 
	margin: 5px 10px 0 0; 
}

.please-wait { 
	float: right; 
	margin-right: 5px; 
}

.please-wait img { 
	vertical-align: middle; 
}

.cvv-what-is-this { 
	cursor: help; 
	margin-left: 5px; 
}

/* Tooltip
------------------------------------- */

.tool-tip { 
	border: 1px solid #ddd; 
	background-color: #f6f6f6; 
	padding: 5px; 
	position: absolute; 
	z-index: 9999; 
}

.tool-tip .btn-close { 
	text-align: right; 
}

.tool-tip .btn-close a { 
	display: block; 
	margin: 0 0 0 auto; 
	width: 15px; 
	height: 15px; 
	background: url(../images/btn_window_close.gif) 100% 0 no-repeat; 
	text-align: left; 
	text-indent: -999em; 
	overflow: hidden; 
}

.tool-tip .tool-tip-content { 
	padding: 5px; 
}

/* Gift Messages
------------------------------------- */

.gift-messages { 
	 
}

.gift-messages-form { 
	border: 1px solid #ddd; 
	background-color: #f6f6f6; 
}

.gift-messages-form { 
	position: relative; 
}

.gift-messages-form label { 
	float: none !important; 
	position: static !important; 
}

.gift-messages-form h4 { 
	 
}

.gift-messages-form .whole-order { 
	 
}

.gift-messages-form .item { 
	margin: 0 0 10px; 
}

.gift-messages-form .item .product-img-box { 
	float: left; 
	width: 75px; 
}

.gift-messages-form .item .product-image { 
	margin: 0 0 7px; 
}

.gift-messages-form .item .number { 
	margin: 0; 
	font-weight: bold; 
	text-align: center; 
}

.gift-messages-form .item .details { 
	margin-left: 90px; 
}

.gift-messages-form .item .details .product-name { 
	 
}

.gift-message-link { 
	display: block; 
	background: url(../images/bkg_collapse.gif) 0 4px no-repeat; 
	padding-left: 20px; 
}

.gift-message-link.expanded { 
	background-position: 0 -53px; 
}

.gift-message-row { 
	 
}

.gift-message-row .btn-close { 
	float: right; 
}

.gift-message dt strong { 
	font-weight: bold; 
}

/* Checkout Agreements 
------------------------------------- */

.checkout-agreements { 
	 
}

.checkout-agreements li { 
	margin: 10px 0; 
}

.checkout-agreements .agreement-content { 
	border: 1px solid #ddd; 
	background-color: #f6f6f6; 
	padding: 5px; 
	height: 10em; 
	overflow: auto; 
}

.checkout-agreements .agree { 
	padding: 6px; 
}

/* Centinel
------------------------------------- */

.centinel { 
	 
}

.centinel .authentication { 
	border: 1px solid #ddd; 
	background: #fff; 
}

.centinel .authentication iframe { 
	width: 99%; 
	height: 400px; 
	background: transparent !important; 
	margin: 0 !important; 
	padding: 0 !important; 
	border: 0 !important; 
}

/* Generic Info Set
------------------------------------- */

.info-set { 
	 
}

/* One Page Checkout
------------------------------------- */

.block-progress { 
	 
}

.block-progress dt { 
	font-weight: bold; 
	margin-bottom: 3px; 
}

.block-progress dd { 
	margin-bottom: 8px; 
	border-bottom: 1px solid #ddd; 
	padding-bottom: 8px; 
}

.block-progress dt.complete,
.block-progress dd.complete { 

}

.opc { 
	border-bottom: 1px solid #ddd; 
	position: relative; 
}

.opc li.section { 
	border: 1px solid #ddd; 
	border-bottom: 0; 
}

.opc .buttons-set.disabled button.button { 
	display: none; 
}

.opc .buttons-set .please-wait { 
	height: 21px; 
	line-height: 21px; 
}

.opc .step-title { 
	background-color: #f6f6f6; 
	padding: 0 5px; 
	text-align: right; 
}

.opc .step-title .number { 
	float: left; 
	line-height: 22px; 
	margin-right: 7px; 
}

.opc .step-title h2 { 
	float: left; 
	font-weight: bold; 
	font-size: 14px; 
	margin-top: 3px; 
}

.opc .step-title a { 
	display: none; 
	float: right; 
}

.opc .allow .step-title { 
	cursor: pointer; 
}

/*.opc .allow .step-title a { 
	display:block; 
}*/

.opc .active { 
	 
}

.opc .active .step-title { 
	background-color: #ccc; 
	cursor: default; 
}

/*.opc .active .step-title a { 
	display:none; 
}*/

.opc .step { 
	border-top: 1px solid #ddd; 
	padding: 10px; 
	position: relative; 
}

.opc .step .tool-tip { 
	right: 10px; 
}

.opc .order-review { 
	 
}

.opc .order-review .authentication { 
	 
}

.opc .order-review .warning-message { 
	 
}

.opc dt { 
	margin-bottom: 4px; 
}

/* Multiple Addresses Checkout
------------------------------------- */

.checkout-progress { 
	padding: 0 50px; 
	margin: 10px 0; 
}

.checkout-progress li { 
	float: left; 
	width: 20%; 
	border-top: 5px solid #ccc; 
	text-align: center; 
	color: #ccc; 
}

.checkout-progress li.active { 
	border-top-color: #000; 
	color: #000; 
}

.multiple-checkout { 
	position: relative; 
}

.multiple-checkout .tool-tip { 
	top: 50%; 
	margin-top: -120px; 
	right: 10px; 
}

.multiple-checkout .grand-total { 
	font-size: 1.5em; 
	text-align: right; 
}

.multiple-checkout .grand-total big { 
	 
}

.multiple-checkout .grand-total .price { 
	 
}

/* ACCOUNT: Login/Create Pages
========================================== */

.account-login { 
        color:#5f5289;
}

.account-login h1{ 
	margin-bottom: 10px; 
}

.account-login h2{ 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 18px; 
	margin-bottom: 9px; 
}

.account-login .new-users { 

}

.account-login .registered-users { 

}

.account-create { 
	 
}

/* Captcha
------------------------------------- */

.captcha-note { 
	 
}

.captcha-image { 
	float: left; 
	position: relative; 
}

.captcha-img { 
	border: 1px solid #ccc; 
}

.registered-users .captcha-image { 
	 
}

#checkout-step-login .captcha-image { 
	 
}

.captcha-reload { 
	position: absolute; 
	top: 2px; 
	right: 2px; 
}

.captcha-reload.refreshing { 
	animation: rotate 1.5s infinite linear; 
	-webkit-animation: rotate 1.5s infinite linear; 
	-moz-animation: rotate 1.5s infinite linear; 
}

@-webkit-keyframes rotate { 
	0% { -webkit-transform: rotate(0); 
}

0% { 
	-webkit-transform: rotate(-360deg); 
}

}
@-moz-keyframes rotate { 
	0% { -moz-transform: rotate(0); 
}

0% { 
	-moz-transform: rotate(-360deg); 
}

}
@keyframes rotate { 
	0% { transform: rotate(0); 
}

0% { 
	transform: rotate(-360deg); 
}

}

/* REMEMBER ME Popup
========================================== */

.window-overlay { 
	background: url(../images/window_overlay.png) repeat; 
	background: rgba(0, 0, 0, 0.35); 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%; 
	z-index: 990; 
}

.remember-me label { 
	 
}

.remember-me-popup { 
	 
}

.remember-me-popup h3 { 
	 
}

.remember-me-popup .remember-me-popup-head { 
	 
}

.remember-me-popup .remember-me-popup-head .remember-me-popup-close { 
	 
}

.remember-me-popup .remember-me-popup-body { 
	 
}

.remember-me-popup .remember-me-popup-body a { 
	 
}

/* MY ACCOUNT
========================================== */

.my-account .title-buttons .link-rss { 
	float: none; 
	margin: 0; 
}

/* Dashboard
------------------------------------- */

.dashboard { 
	 
}

.dashboard .welcome-msg { 
	border-bottom: 1px solid #ccc; 
	margin-bottom: 12px; 
	padding-bottom: 12px; 
}

.dashboard .welcome-msg .hello { 
	font-weight: bold; 
	font-size: 16px; 
	margin-bottom: 5px; 
}

/* Block: Recent Orders
------------------------------------- */

.dashboard .box-recent { 
	margin: 10px 0 20px; 
}

/* Block: Account Information 
------------------------------------- */

.dashboard .box-info { 
	 
}

.dashboard .box-info .box-title{ 
	margin-bottom: 6px; 
}

.dashboard .col2-set { 
	padding-bottom: 12px; 
	border-bottom: 1px solid #ccc; 
	margin-bottom: 12px; 
}

/* Block: Reviews 
------------------------------------- */

.dashboard .box-reviews .number { 
	float: left; 
	font-size: 10px; 
	font-weight: bold; 
	line-height: 1; 
	color: #fff; 
	margin: 3px -20px 0 0; 
	padding: 2px 3px; 
	background: #ddd; 
}

.dashboard .box-reviews .details { 
	margin-left: 20px; 
}

/* Block: Tags 
------------------------------------- */

.dashboard .box-tags .number { 
	float: left; 
	font-size: 10px; 
	font-weight: bold; 
	line-height: 1; 
	color: #fff; 
	margin: 3px -20px 0 0; 
	padding: 2px 3px; 
	background: #ddd; 
}

.dashboard .box-tags .details { 
	margin-left: 20px; 
}

/* Address Book 
------------------------------------- */

.addresses-list { 
	 
}

.addresses-list .item{ 
	margin-bottom: 20px; 
}

.addresses-list-additional li.item { 
	 
}

/* Order View 
------------------------------------- */

.order-info { 
	border: 1px solid #ddd; 
	padding: 5px; 
}

.order-info dt,
.order-info dd,
.order-info ul,
.order-info li { 
	display: inline; 
}

.order-info dt { 
	font-weight: bold; 
}

.order-date { 
	margin: 10px 0; 
}

.order-info-box { 
	 
}

.order-info-box .box{ 
	margin-bottom: 12px; 
}

.order-items { 
	width: 100%; 
	overflow-x: auto; 
}

.order-additional { 
	margin: 15px 0; 
}

/* Order Gift Message 
------------------------------------- */

.gift-message dt strong { 
	color: #666; 
}

.gift-message dd { 
	font-size: 13px; 
	margin: 5px 0 0; 
}

/* Order Comments 
------------------------------------- */

.order-about dt { 
	font-weight: bold; 
}

.order-about dd { 
	font-size: 13px; 
	margin: 0 0 7px; 
}

.tracking-table { 
	margin: 0 0 15px; 
}

.tracking-table th { 
	font-weight: bold; 
	white-space: nowrap; 
}

.tracking-table-popup { 
	width: 100%; 
}

.tracking-table-popup th { 
	font-weight: bold; 
	white-space: nowrap; 
}

.tracking-table-popup th,
.tracking-table-popup td { 
	padding: 1px 8px; 
}

/* Order Print Pages
------------------------------------- */

.page-print .print-head { 
	 
}

.page-print .print-head img { 
	float: left; 
}

.page-print .print-head address { 
	float: left; 
	margin-left: 15px; 
}

/* Price Rewrites
------------------------------------- */

.page-print .gift-message-link { 
	display: none; 
}

.page-print .price-excl-tax,
.page-print .price-incl-tax { 
	display: block; 
	white-space: nowrap; 
}

.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price { 
	display: inline; 
}

/* My Reviews 
------------------------------------- */

.product-review .product-img-box { 
	float: left; 
	width: 140px; 
}

.product-review .product-img-box .product-image { 
	display: block; 
	width: 125px; 
	height: 125px; 
}

.product-review .product-img-box .label { 
	font-size: 11px; 
	margin: 0 0 3px; 
}

.product-review .product-img-box .ratings .rating-box { 
	float: none; 
	display: block; 
	margin: 0 0 3px; 
}

.product-review .product-details { 
	margin-left: 150px; 
}

.product-review .product-name { 
	font-size: 16px; 
	font-weight: bold; 
	margin: 0 0 10px; 
}

.product-review h3 { 
	 
}

.product-review .ratings-table { 
	margin: 0 0 10px; 
}

.product-review dt { 
	font-weight: bold; 
}

.product-review dd { 
	font-size: 13px; 
	margin: 5px 0 0; 
}

/* Wishlist
------------------------------------- */

.my-wishlist { 
	 
}

.my-wishlist textarea{ 
	width: 75%; 
	height: 50px; 
	margin-top: 10px; 
}

.my-wishlist .qty{ 
	margin-top: 5px; 
	margin-bottom: 5px; 
}

/* SALES GUEST FORM
========================================== */

.sales-guest-form .form-alt .input-box{ 
	margin-bottom: 8px; 
}

.sales-guest-form .form-alt .input-box label{ 
	font-weight: bold; 
}


/* SPLASH PAGES
========================================== */

.splash-group-simple li{ 
	padding-bottom: 3px; 
	padding-top: 3px; 
}

.splash-group-grid { 
}

.splash-group-grid li{ 
	display: inline-block; 
	margin: 12px 0 0 16px; 
}

.splash-group-grid .product-image{ 
	display: block;
	border: 1px solid #ddd; 
	padding: 5px; 
	margin-bottom: 4px; 
}

/* FOOTER
========================================== */

/* Footer Basics
------------------------------------- */

.footer-container { 
	
}

.footer { 

}

.footer1-container { 
	padding: 26px 0 18px; 
	border-top: 1px solid #fff; 
	background: #f8f8f8;
}

.footer1 { 
	margin: 0 auto; 
	width: 1200px; 
}

.footer2-container { 
	background: #88dae4;
	padding: 24px 0; 
/*	border-top: 1px solid #fff; */
}

.footer2-container a{ 
	color: #fff; 
}

.footer2 { 
	margin: 0 auto; 
	width: 1200px; 
}

.footer3-container { 
	padding: 16px 0 22px; 
}

.footer3 { 
	margin: 0 auto; 
	width: 1200px; 
}

/* Footer 1
------------------------------------- */

.footer1 .headline{ 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 15px; 
	color: #5f5289; 
	margin-bottom: 12px; 
}

.footer1 .newsletter{ 
	float: left; 
	width: 525px; 
}

.footer1 .newsletter input{ 
	float: left;
	width: 366px; 
        height:11px;
	padding: 18px; 
	font-size: 14px; 
	color: #bfbbcc; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	border: 1px solid #88dae4; 
	margin-right: 3px; 
	background-color: #f8f8f8; 
}

.footer1 .newsletter button{ 
	-webkit-border-fit: lines;
	overflow: visible;
        width: 114px;
	margin: 0;
	height: 48px !important;
	cursor: pointer;
	font: 12px/33px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #fff;
	white-space: nowrap; 
	padding-left: 12px; 
	padding-right: 12px; 
	text-transform: uppercase; 
	background-color: #5f5289; 
	border: 0px; 
}

.footer1 .newsletter button:hover{ 
	background-color: #493c70; 
	border: 0px; 
}

.footer1 .footer-social{ 
	float: right;
}

.footer1 .footer-social .social-icons li{ 
	display: inline-block; 
	margin-left: 4px; 
}

.footer1 .footer-social .social-icons a img:hover{ 
	opacity: 0.7; 
}

/* Footer 2
------------------------------------- */

.footer2{ 
	font-size: 13px; 
	color: #fff; 
}

.footer2 .box1,
.footer2 .box2,
.footer2 .box3,
.footer2 .box4,
.footer2 .box5{ 
	float: left;
	width: 240px;
}

.footer2 .headline{ 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 17px; 
	color: #5f5289; 
	margin-bottom: 12px; 
}

.footer2 a{ 
	color: #5f5289; 
}

.footer2 li{ 
	margin-bottom: 5px; 
}

/* Footer 3
------------------------------------- */

.footer3 .links { 
	margin-bottom: 3px; 
}

.footer3 .links a { 
	color:#5f5289;
}

.footer3 .copyright { 
	margin-top: 12px; 
	color: #5f5289; 
}

.footer3 .copyright a{ 
	color: #5f5289; 
}

.footer3 .footer-payments{ 
	float: right;
}

.footer3 .footer-payments .payment-icons li{ 
	display: inline-block; 
	margin-left: 4px; 
}

/* SLIDER
========================================== */

#slider {
	float: left;
	height: 410px;
	position: relative;
	width: 796px;
	overflow: hidden; 
	margin-bottom: 12px; 
}

#slider p {
	margin: 0;
	padding: 0;
}

div.scroller {
	height: 450px;
	overflow: hidden;
	width: 796px;
	zoom: 1;
}

div.scroller .content {
	padding: 0;
}

div.slidercontrolwr-left {
	position: absolute;
	left: 0px;
	bottom: 0;
}

div.slidercontrolwr-right {
	position: absolute;
	right: 0px;
	bottom: 0;
}

div.scroller img {
	border: none;
}

div.scroller div.section {
	height: 410px;
	overflow: hidden;
	float: left;
	width: 796px; 
}

div.scroller div.content {
	width: 10000px;
	float: left;
}

.slidercontrol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.slidercontrol a {
	color: #aaa;
	filter: alpha(opacity=60);
	float: left;
	opacity: 0.6;
	overflow: hidden;
	text-decoration: none;
	text-indent: -1000px;
	width: 30px;
	height: 410px;
	padding-right: 0px;
	padding-left: 0px;
	background-position: center center; 
	margin-left: -1px; 
	margin-right: -1px; 
}

.slidercontrol a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.aprev {
	background: url(../images/aprev.png) no-repeat 0 0; 
}

.anext {
	background: url(../images/anext.png) no-repeat 0 0;
}

/* CLEARS
========================================== */

.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-view .box-tags .form-add:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { 
	display: block; 
	content: "."; 
	clear: both; 
	font-size: 0; 
	line-height: 0; 
	height: 0; 
	overflow: hidden; 
}
